@import '../../style/variables.scss';
.matches-container {
  display: block;
  align-items: center;
  margin: 0 auto;
  width: 50vw;
  opacity: 85%;
}

.football-container-results {
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(35, 179, 250, 0.85);
  background-color: ghostwhite;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.matches-day {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: black;
  width: 100%;


  &__text-menu {
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }

  &__choose-day {
    padding: 0 5px;
  }

  &__menu-day {
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
}

.matches-result {
  padding: 10px;
  height: 69vh;
  overflow: scroll;

  &__match-day {
    margin: 0 auto;
    background-color:ghostwhite;
    padding: 10px;
    border-bottom: solid 1px black;
  }

  &__football-match {
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  &__menu-clubs {
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    width: 200px;
    text-decoration: none;
    color: black;
  }

  &__input-block {
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  &__input {
    width: 80px;
    height: 35px;
  }

  &__inputElement {
    text-align: center;
    padding: 8px;
  }
  &__block-save {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 10px ;
    text-align: center;
  }
  &__button {
    padding: 5px;
  }
  &__ended {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    font-weight: 450;
    font-size: 16px;
    color: black;
    background-color: #fafa64;
  }
}

.active {
  display: flex;
}

//media width

@media (max-width: 1280px) {
  .matches-container {
    width: 70vw;
  }
}

@media (max-width: 840px) {
  .matches-container {
    width: 80vw;
  }
}

@media (max-width: 750px) {
  .matches-result {
    &__football-match {
      display: block;
    }
  }
}

@media (max-width: 414px) {
  .matches-container {
    width: 90vw;
  }
}

@media (max-width: 280px) {

  .matches-day {
    display: block;
    &__text-menu {
      align-items: center;
      justify-content: center;
    }
  }

  .matches-result {
    &__match-day {
      padding: 0;
    }
  }
}

//media height

//@media (max-height: 1368px) {
//  .matches-result {
//    height: 93vh;
//  }
//}

//@media (max-height: 1180px) {
//  .matches-result {
//    height: 91vh;
//  }
//}
//
//@media (max-height: 1024px) {
//  .matches-result {
//    height: 90vh;
//  }
//}
@media (max-height: 915px) {
  .matches-result {
    height: 74vh;
  }
}
@media (max-height: 844px) {
  .matches-result {
    height: 71vh;
  }
}
//@media (max-height: 800px) {
//  .matches-result {
//    height: 87vh;
//  }
//}
//@media (max-height: 740px) {
//  .matches-result {
//    height: 86vh;
//  }
//}
//@media (max-height: 667px) {
//  .matches-result {
//    height: 85vh;
//  }
//}
//
//@media (max-height: 653px) {
//  .matches-result {
//    height: 82vh;
//  }
//}
//
//@media (max-height: 300px) {
//  .matches-result {
//    height: 81vh;
//  }
//}
