.menu {
  font-size: 28px;
  //line-height: 37px;
  color: whitesmoke;
}
.menu a {
  margin: 3px;
  color: whitesmoke;
  font-weight: normal;
}

.menu a.active {
  text-decoration: none;
  font-weight: normal;
  color: #7F0013;
}

.menu a:hover {
  text-decoration: none;
  color: #9F0013;
}