.football-container-header {
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  background-color: #23b3fad9;
  box-shadow: 0 0 10px rgba(35, 179, 250, 0.85);
  margin-top: 10px;
  border-radius: 10px;
  padding: 0 15px;
}
.football-container-header-league {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 60px;
  width: 450px;
  gap: 20px;
  cursor: default;
  color: black;
  font-size: 16px;
  &__label {
    width: 50px;
    color: white;
    border-radius: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__name {

  }
  &__group-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  &__buttons {
    background-color: #23b3fa73;;
    border-radius: 5px;
  }
  &__copy {
    padding: 0 5px;
    font-size: 20px;
    color: black;
  }
  &__delete {
    padding: 0 0 0 5px ;
    font-size: 20px;
    color: #ff0000;
  }
}

.football-container-header-nav {
  height: 50px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: ghostwhite;
  box-shadow: 0 0 10px rgba(35, 179, 250, 0.85);
  border-radius: 10px;
  margin-top: 10px;
  padding: 0 20px;
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    height: 50px;
    padding: 0 10px;
  }
  &__button:hover {
    background-color: #0261a4;
    text-decoration: none;
    color: black;
  }
  &__button.active {
    text-decoration: none;
    padding: 12px 10px 8px 10px;
    border-bottom: 4px solid #008cff;
  }
}
