.football-header {
  width: 50vw;
  display: block;
  margin: 0 auto;
}

.football-container-header {
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  background-color: #23b3fad9;
  box-shadow: 0 0 10px rgba(35, 179, 250, 0.85);
  margin-top: 10px;
  border-radius: 10px;
  padding: 0 15px;
}
.football-container-header-league {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 60px;
  width: 450px;
  gap: 20px;
  cursor: default;
  color: black;
  font-size: 16px;
  &__label {
    width: 50px;
    color: white;
    border-radius: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__name {

  }
  &__group-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  &__buttons {
    background-color: #23b3fa73;;
    border-radius: 5px;
  }
  &__copy {
    padding: 0 5px;
    font-size: 20px;
    color: black;
  }
  &__copy-league-button {
    color: #0f131a;
  }
  &__buttons:hover .football-container-header-league__copy-league-button {
    color: whitesmoke;
  }
  &__delete {
    padding: 0 0 0 5px ;
    font-size: 20px;
  }
  &__delete-league-button {
    color: #b90101;
  }
  &__buttons:hover .football-container-header-league__delete-league-button {
    color: #ff0000;
  }

}

///copy button tooltip

.football-container-header-league__buttons {
  position: relative;
  display: inline-block;
}

.football-container-header-league__buttons .tooltip-copy-league {
  visibility: hidden;
  width: 100px;
  background-color: rgba(1, 148, 253, 0.85);
  color: #fff;
  text-align: center;
  font-size: 12px;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -35px;
  right: 0;
}

.football-container-header-league__buttons:hover .tooltip-copy-league {
  visibility: visible;
}

//delete button tooltip

.football-container-header-league__buttons .tooltip-delete-league {
  visibility: hidden;
  width: 100px;
  background-color: rgba(1, 148, 253, 0.85);
  color: #fff;
  text-align: center;
  font-size: 12px;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -35px;
  right: 0;
}

.football-container-header-league__buttons:hover .tooltip-delete-league {
  visibility: visible;
}

.football-container-header-seasons {
  height: 50px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: ghostwhite;
  box-shadow: 0 0 10px rgba(35, 179, 250, 0.85);
  border-radius: 10px;
  margin-top: 10px;
  padding: 0 20px;
  cursor: default;
  gap: 20px;
  color: black;
  &__add-season {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    background-color: rgba(30, 24, 24, 0.03);
    border-radius: 5px;
  }
  &__add-season-button {
    color: #0a8d0a;
  }
  &__delete-season {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    background-color: rgba(30, 24, 24, 0.03);
    border-radius: 5px;
  }
  &__delete-season-button {
    color: #b01111;
  }

}
///add season tooltip

.football-container-header-seasons__add-season-button:hover {
  color: #08e808;
}

.football-container-header-seasons__add-season {
  position: relative;
  display: inline-block;
}

.football-container-header-seasons__add-season .tooltip-text {
  visibility: hidden;
  width: 100px;
  background-color: rgba(1, 148, 253, 0.85);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 35px;
  left: 100%;
}

.football-container-header-seasons__add-season:hover .tooltip-text {
  visibility: visible;
}

///delete season tooltip

.football-container-header-seasons__delete-season-button:hover {
  color: #ef0707;
}

.football-container-header-seasons__delete-season {
  position: relative;
  display: inline-block;
}

.football-container-header-seasons__delete-season .tooltip-text {
  visibility: hidden;
  width: 100px;
  background-color: rgba(1, 148, 253, 0.85);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 35px;
  left: 100%;
}

.football-container-header-seasons__delete-season:hover .tooltip-text {
  visibility: visible;
}



.football-container-header-nav {
  height: 50px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: ghostwhite;
  box-shadow: 0 0 10px rgba(35, 179, 250, 0.85);
  border-radius: 10px;
  margin-top: 10px;
  padding: 0 20px;
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    height: 50px;
    padding: 0 10px;
  }
  &__button:hover {
    background-color: #0261a4;
    text-decoration: none;
    color: whitesmoke;
  }
  &__button.active {
    text-decoration: none;
    padding: 12px 10px 8px 10px;
    border-bottom: 4px solid #008cff;
  }
}

.dropbtn-seasons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 78px;
  padding: 0;
  background-color: rgba(2, 2, 171, 0);
  color: black;
  font-size: 16px;
  border: none;
}

.dropdown-seasons {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  display: inline-block;
  z-index: 2;
}

.dropdown-content-seasons {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  left: 89px;
  top: 2px;
  background-color: #a6cdec;
  padding: 10px 15px;
  max-height: 200px;
  z-index: 1;
  overflow: scroll;
}

.dropdown-content-seasons a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  height: 25px;
  min-height: 25px;
  max-width: 150px;
  width: 100%;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropbtn-seasons:hover {
  color: #23b3fa;
}

.dropbtn-seasons:hover .dropbtn-seasons:active {
  color: rgba(1, 148, 253, 0.85);
}
.dropdown-content-seasons a:hover {
}
.show-seasons {
  display: flex;
}
.show-background-seasons {
  color: #79020e;
}
.show-color-seasons {
  color: #23b3fa;
}

@media (max-width: 1200px) {
  .football-header {
    width: 60vw;  }
}
@media (max-width: 1024px) {
  .football-header {
    width: 70vw;  }
}
@media (max-width: 866px) {
  .football-header {
    width: 80vw;  }
}

@media (max-width: 472px) {
  .football-container-header-league {
    gap: 10px;
    &__name {
      font-size: 14px;
    }
  }
}