.football-container {
  width: 50vw;
  background-color: ghostwhite;
  align-items: center;
  margin: 0 auto;
}

.football-container-header {
  background-color: #fafa64;
  padding: 15px 20px;
  font-weight: 500;
  color: black;
  font-size: 16px;
}

//.football-container-body-scroll {
//  width: 100%;
//  overflow: scroll;
//}

.football-container-body {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.table-data-scroll{
  width: 100%;
  overflow: scroll;
}

.table-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  &__cell {
    width: 7%;
    height: 40px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 450;
    border-bottom: solid 1px grey;
    font-size: 14px;
  }

  &__club-cell {
    width: 65%;
    justify-content: flex-start;
    height: 40px;
    padding:5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 450;
    border-bottom: solid 1px grey;
    font-size: 14px;

  }

  &__cell-number {
    width: 20px;
    text-align: center;
  }

  &__cell-label {
    padding: 5px;
  }
}

.table-data {
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

// media width

@media (max-width: 1200px) {
  .football-container {
    width: 60vw;
  }
}

@media (max-width: 1120px) {
  .football-container {
    width: 70vw;
  }
}
@media (max-width: 820px) {
  .football-container {
    width: 80vw;
  }
}

@media (max-width: 750px) {
  .football-container {
    width: 90vw;
  }
}
@media (max-width: 540px) {
  .football-container {
    width: 80vw;
  }
}
@media (max-width: 440px) {
  .table-header {
    &__club-cell {
      width: 48%;
    }
  }
}
@media (max-width: 414px) {
  .football-container {
    width: 90vw;
  }

  .table-header {
    &__cell {
      width: 8%;
      font-size: 12px;
    }
    &__club-cell {
      width: 60%;
      font-size: 12px;
    }
  }
}

@media (max-width: 375px) {
  .football-container-header {
    padding: 10px 20px;
  }

  .table-header {
    &__cell {
      width: 8%;
      font-size: 12px;
    }
    &__club-cell {
      width: 60%;
      font-size: 12px;
    }
  }
}

@media (max-width: 280px) {
  .football-container-body-scroll {
    width: 83vw;
    overflow: scroll;
    margin-left: 10px;
  }
  .football-container-body {
    width: 280px;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .table-header {
    &__cell {
      width: 8%;
      font-size: 12px;
    }
    &__club-cell {
      width: 60%;
      font-size: 12px;
    }
  }
}

////

@media (max-height: 1368px) {
  .table-data {
    height: 88vh;
  }
}

@media (max-height: 1180px) {
  .table-data {
    height: 86vh;
  }
}

@media (max-height: 1024px) {
  .table-data {
    height: 84vh;
  }
}
@media (max-height: 915px) {
  .table-data {
    height: 82vh;
  }
}
@media (max-height: 898px) {
  .table-data {
    height: 81vh;
  }
}
@media (max-height: 844px) {
  .table-data {
    height: 80vh;
  }
}
@media (max-height: 800px) {
  .table-data {
    height: 79vh;
  }
}
@media (max-height: 740px) {
  .table-data {
    height: 77vh;
  }
}
@media (max-height: 667px) {
  .table-data {
    height: 76vh;
  }
}
@media (max-height: 653px) {
  .table-data {
    height: 80vh;
  }
}
@media (max-height: 600px) {
  .table-data {
    height: 72vh;
  }
}