.home {
  background-color: whitesmoke;
  height: 93vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  &__menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
    line-height: 18px;
    gap: 40px;
  }

  &__menu a {
    text-decoration: none;
    color: black;
  }

  &__menu a.active {
    text-decoration: none;
    color: #7F0013;
  }

  &__menu a:hover {
    text-decoration: none;
    color: #9F0013;
  }

}
