
.home {
  //background-image: url('https://phonoteka.org/uploads/posts/2021-05/1621701522_5-phonoteka_org-p-sinii-fon-futbol-5.jpg');
  ////background-color: whitesmoke;
  //background-size: cover;
  //background-repeat: no-repeat;
  //background-position: center;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  &__menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
    line-height: 18px;
    gap: 40px;
  }

  &__menu a {
    text-decoration: none;
    color: whitesmoke;
    padding: 10px;
  }

  &__menu a.active {
    text-decoration: none;
    color: #7F0013;
  }

  &__menu a:hover {
    text-decoration: none;
    color: black;
    background-color: whitesmoke;
    border-radius: 10px;
    opacity: 80%;
  }
  &__menu a:active {
    //background-color: #30ff2175;
    background-color: #23b3fad9;;
  }

}
