.font-img {
  //background-color: whitesmoke;
  background-image: url('https://phonoteka.org/uploads/posts/2021-05/1621701522_5-phonoteka_org-p-sinii-fon-futbol-5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  box-sizing: border-box;
  margin: 0 auto;
}